<app-test-section title="Chips">
  <cac-chips>Filled</cac-chips>
  <cac-chips [closable]="true">Closable</cac-chips>
  <cac-chips appearance="outlined">Outlined</cac-chips>
  <cac-chips class="bg-red-700 text-red-50" icon="info">Customized</cac-chips>
</app-test-section>

<app-test-section title="Chips Group">
  <cac-chips-group>
    <cac-chips value="a">Label1</cac-chips>
    <cac-chips value="b">Label2</cac-chips>
    <cac-chips value="c">Label3</cac-chips>
  </cac-chips-group>
</app-test-section>

<app-test-section title="Chips Group (Selectable)">
  <cac-chips-group [toggleable]="true">
    <cac-chips value="a">Label1</cac-chips>
    <cac-chips value="b">Label2</cac-chips>
    <cac-chips value="c">Label3</cac-chips>
  </cac-chips-group>
</app-test-section>

<app-test-section title="Chips Group (Multi Select)">
  <cac-chips-group [toggleable]="true" [multiple]="true">
    <cac-chips value="a">Label1</cac-chips>
    <cac-chips value="b">Label2</cac-chips>
    <cac-chips value="c">Label3</cac-chips>
  </cac-chips-group>
</app-test-section>

