<app-test-section title="Buttons">
  <cac-button theme="primary">Filled Enabled</cac-button>
  <cac-button theme="primary" [disabled]="true">Filled Disabled</cac-button>
  <cac-button theme="primary" appearance="stroked">Stroked Enabled</cac-button>
  <cac-button theme="primary" appearance="stroked" [disabled]="true">Stroked Disabled</cac-button>
  <cac-button theme="primary" appearance="filled" [elevated]="true">Filled elevated</cac-button>
  <cac-button theme="primary" appearance="text">Text Enabled</cac-button>
  <cac-button theme="primary" appearance="text" [disabled]="true">Text Disabled</cac-button>
  <cac-button theme="primary" appearance="filled" [tonal]="true">Tonal (Hover)</cac-button>
  <cac-button theme="secondary" appearance="filled" (onClick)="$event.setLoading()">Click To Load</cac-button>
  <cac-button theme="tertiary" appearance="filled" icon="close" iconSize="1rem">With Icon</cac-button>
</app-test-section>
