@use "index" as cac;
@use "themes/colors";
@use "themes/material";

@import "tailwindcss";

@include cac.scrollbar;

@include cac.dialog((
  backgroundColor: var(--surface-container-low),
  borderColor: var(--outline-variant),
  borderRadius: 0.75rem,
))
