@use "index" as cac;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include cac.scrollbar;

@include cac.dialog((
  backgroundColor: var(--surface-container-low),
  borderColor: var(--outline-variant),
  borderRadius: 0.75rem,
))
